@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --inset: #EFEFEF;
  --game-blue: #11B6EC;
  --game-green: #06D6A0;
  --game-yellow: #FFD166;
  --game-red: #EF476F;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --inset: #262626;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}